/**
 * Site wrapper
 */
 .site-wrapper {
  display: flex;

  @include media-query($on-palm) {
    display: block;
  }
}


 /**
 * Site header
 */
 .site-header {
  width: 20%;
  padding: $spacing-unit;

  @include media-query($on-palm) {
    width: 100%;
    padding-bottom: 0;
  }
}

.site-title {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .067em;
  margin-bottom: 0;
}

.site-nav {

  line-height: calc(2em * 1.5);

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}


/**
 * Page content
 */
.page-content {
  width: 60%;
  padding: $spacing-unit;

  @include media-query($on-palm) {
    width: 100%;
  }

  & h1 {
    margin-bottom: $base-font-size;
  }
}

.page-heading {
  font-size: 2em;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
}

.post-link {
  display: block;
}


/**
 * Posts
 */

.post-content {
  margin-bottom: $spacing-unit;

  & h1,
  & h2,
  & h3 {
    margin-bottom: $base-font-size / 2;
  }
}

